.country{
    stroke-width: .5px;
    stroke: black;
}

.slider{
    display: inline-block;
}

body{
    margin: 0 auto;
    background-color: WHITESMOKE;
}
.center{
    text-align: center;
}

#selection{
    margin-left: 300px;
}

h1{
    color:#08519c;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px lightgray;
}